<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.IGonggaoDao" >
  <resultMap id="BaseResultMap" type="com.example.demo.pojo.Gonggao" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="biaoti" property="biaoti" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="shijian" property="shijian" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, biaoti, content, shijian
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from gonggao
    where id = #{id,jdbcType=INTEGER}
  </select>
  
   <select id="selectGonggao" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from gonggao
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from gonggao
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.demo.pojo.Gonggao" >
    insert into gonggao (id, biaoti, content, 
      shijian)
    values (#{id,jdbcType=INTEGER}, #{biaoti,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{shijian,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.demo.pojo.Gonggao" >
    insert into gonggao
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="biaoti != null" >
        biaoti,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="shijian != null" >
        shijian,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="biaoti != null" >
        #{biaoti,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="shijian != null" >
        #{shijian,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.demo.pojo.Gonggao" >
    update gonggao
    <set >
      <if test="biaoti != null" >
        biaoti = #{biaoti,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="shijian != null" >
        shijian = #{shijian,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.demo.pojo.Gonggao" >
    update gonggao
    set biaoti = #{biaoti,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      shijian = #{shijian,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>